/*苹方-简 常规体*/
/*font-family: PingFangSC-Regular, sans-serif;*/
/*苹方-简 极细体*/
/*font-family: PingFangSC-Ultralight, sans-serif;*/
/*苹方-简 细体*/
/*font-family: PingFangSC-Light, sans-serif;*/
/*苹方-简 纤细体*/
/*font-family: PingFangSC-Thin, sans-serif;*/
/*苹方-简 中黑体*/
/*font-family: PingFangSC-Medium, sans-serif;*/
/*苹方-简 中粗体*/
/*font-family: PingFangSC-Semibold, sans-serif;*/
body {
    font-family: PingFangSC-Regular, sans-serif;
}

.zc {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-family: PingFangSC-Medium, sans-serif;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
}

.jt {
    background: url("../image/Group 60.png") 100% 100% no-repeat;
    width: 12px;
    height: 17px;
    float: left;
    position: relative;
    top: 14px;

    left: 1px;

}

.hdmz {
    height: 137px;
    padding-right: 17px;
    padding-left: 17px;
    margin-bottom: 1px;
    margin-top: 5px;
}

.hdmz1 {
    height: 137px;
    padding-right: 0px;
    padding-left: 0px;

}

.bd {
    height: 100%;
    margin: 0px 0px 0px 0px;
    position: relative;
    top: 0px;
    width: 100%;
    border-radius: 8px;
    background: url("../image/Oval + Oval + Oval Mask.png") no-repeat scroll 50% 0;
    background-size:cover;
}

.bd1 {
    text-align: center;
    padding-top: 26px;
    color: #343434;
    font-size: 16px;
}

.btn {
    width: 100px;
    height: 37px;
    border-radius: 50px;
    background: #FF9446;
    color: #FFFFFF;
    font-size: 17px;
}

.lz {
    padding-right: 121px;
    padding-left: 121px;
    width: 100px;
    height: 37px;
    margin-top: 23px
}
.cw {
    width: 100%;
    float: left;
    height: 36px;
    text-align: center;
    position: absolute;
    top: 222px;
    z-index: 10;

}

.cw1 {
    width: 123px;
    text-align: center;
    height: 100%;
    display: inline-block;
    background: #4C4C4C;
    line-height: 36px;
    font-size: 14px;
    color: #FFFFFF;

    border-radius: 6px;
}